Source: configure-keyboard
Section: misc
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: configure-keyboard
Architecture: all
Depends: hwsetup-ng, dialog, xdialog
Conflicts: kbdconfig-kanotix
Description: Lightweight keyboard configuration tool for sidux
 small tool for configuring keyboards.
